@model QaProject.Models.AddingCommentViewModel
@{ 
    Layout = null;
}


<div class="@("add_comment_container_" + Model.itemId)">
    <textarea class="TextArea" id="@("Comment" + Model.commentCount)" data-itemid="@Model.itemId" data-itemtype="@Model.itemType" data-url="@Url.Action("AddComment")"></textarea>
    <button id="@("commentbtn" + Model.commentCount)" class="commentbtn" data-count="@(Model.commentCount)">Add Comment @Model.commentCount</button>
</div>


<script>
    jQuery(document).ready(function() {
        $(".commentbtn").click(addComment);
    });
</script>