@model PagedList.IPagedList<QaProject.Models.Question>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "MainPage";
}
@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
}


<h2>MainPage</h2>

<p>
    @Html.ActionLink("Ask a Question?", "postQuestion")
</p>
<div class="list_links">
    @Html.ActionLink("Newest Questions", "FilterNewestQuestions")
    @Html.ActionLink("Most Answered Questions", "FilterAnsweredQuestions")
    @Html.ActionLink("Today's Top Questions", "FilterTopQuestions")
</div>
<section>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
    <div class="Question_Container">
        <div class="Question_Content">
            <h4>@item.Title</h4>
            <p>@item.Description</p>
        </div>
        <div class="Question_Author_Container">
            <p>@item.Owner.Reputation</p>
            <div class="Question_Author_placeHolder"></div>
            <p>@item.Owner.UserName</p>
        </div>
        @Html.ActionLink("Details", "Question", new { id = item.Id })
        <div>
            @foreach (var tag in item.Tags)
            {
                <span>
                    @Html.ActionLink(tag.Name, "ListOfTagsQuestions", new { tagName = tag.Name });
                </span>
            }
        </div>

    </div>
        }
    }
</section>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@if (!string.IsNullOrEmpty(ViewBag.tagName))
{
    @Html.PagedListPager(Model, page => Url.Action(ViewBag.url,
    new { ViewBag.tagName, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
else
{
    @Html.PagedListPager(Model, page => Url.Action(ViewBag.url,
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
