@model IEnumerable<QaProject.Models.TagViewModel>
@{
    Layout = null;
}
@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
}
<div class="modal-dialog err-pop" style="">
    <div class="modal-content">
        <div class="modal-header">
            <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align:center;">
            <a href="#" class="createTag">Create a Tag</a>
            @using (Html.BeginForm("CreateTag", "Home", FormMethod.Post, new { @class = "tagForm hidden" }))
            {
                @Html.TextBox("tagName", null, new { @class = "tagName" });
                <input type="submit" class="btn" id="createTagBtn" data-url="@Url.Action("CreateTag")" value="Create Tag" />
            }



            <table class="table" id="userTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.tagName)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tagName)
                            </td>
                            <td>
                                @if (item.IsChecked)
                                {
                                    <input class="tags" type="checkbox" data-Id="@item.tagId" data-Name="@item.tagName" checked />
                                }
                                else
                                {
                                    <input class="tags" type="checkbox" data-Id="@item.tagId" data-Name="@item.tagName" />
                                }

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <input id="btnSave" type="submit" onclick="Save()" value="select" data-url="saveTag" />
        </div>
    </div>
</div>
<script>
    jQuery('#createTagBtn').click((e) => {
        let tagName = $('.tagName').val();
        let url = $(this).data('url');
    });
    jQuery('.createTag').click(() => {
        $('.tagForm').removeClass('hidden');

        $('.createTag').addClass('hidden');
    });
    jQuery(document).ready(function () {
        $.noConflict();
        $('#userTable').dataTable();
    });
</script>
